{% extends "base.html" %}

{% block title %}
Welcome! 
{% endblock %}
{% block content %}
<center>
  <h1> Once Upon A Time </h1>
    <font face = "Comic Sans MS" size ='200' color='brown'> </font>
    Hello this is a cool website plz log in or sign up to view 8 Million Stories
    <form action="/login" method="POST">
        <input type="submit" value="Login">
    </form>
    <form action="/signup" method="POST">
        <input type="submit" value="Sign Up">
    </form>
</center>
{% endblock %}
