{% extends "base.html" %}

<head>
  {% block title %} 
  LOGIN
  {% endblock %}
</head>

{% block content %}
<body> <center>
    <font face = "Comic Sans MS" size ='200' color='cyan' 
	  </font>
{% with messages = get_flashed_messages() %}
	  {% for message in messages %}
	  {{ message }}
	  {% endfor %}
	  {% endwith %}
    <form action="/auth" method="POST">
      Username:
      <input type="text" name='username'>
      <br>
      Password:
      <input type="password" name='password'>
      <br>
      <input type= "submit" name="submit" value="Login">
    </form>
    <br>
</body>
{% endblock %}
