{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<center>
    <!-- <font face = "Comic Sans MS" size ='200' color='green' 	</font> -->
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endwith %}
    <form action= "signauth" method="POST">
        Pick a Username:
        <input type="text" name='username'>
        <br>
        Pick a Password:
        <input type="password" name='password'>
        <br>
        Confirm Password:
        <input type="password" name='password2'>
        <br>
        <input type= "submit" name="submit" value="Create an account">
    </form>
</center>
{% endblock %}
