{% extends "base.html" %}

{% block title %}
View {{ story_title }}
{% endblock %}

{% block content %}
<div align="center">
    <h2><em>{{ story_title }}</em></h2>
    {% if edited %}
    {% for edit in content %}
    <p>{{ edit[0] }}</p>
    {% endfor %}
    {% else %}
    <p>{{ content }}</p>
    <a href="/edit?story={{ story }}">Edit this story?</a>
    <br>
    {% endif %}
    <br>
    {% set action = "/welcome" if edited else "/stories" %}
    <form action={{ action }}>
    <button type="submit">Back</button>
    </form>
</div>
{% endblock %}
