{% extends "base.html" %}

{% block title %}
Welcome!
{% endblock %}

{% block content %}
<div align="right">
<form action="/welcome" method="POST">
<input type="submit" value="Home">
</form>
</div>
<center>
    <h1> Wanna see or edit a new story? </h1>
    <hr>
    {% for story in stories %}
    <h2>{{story[0]}}</h2>
    <a href="/view?story={{story[1]}}">Read the latest update!</a>
    <br>
    <a href="/edit?story={{story[1]}}">Edit this story!</a>
    <hr>
    {% endfor %}
</center>
{% endblock %}
